
@{
    ViewBag.Title = "SearchView";
}

<h2>SearchView</h2>
<div>
    <form>
        <input autocomplete="country" type="text" id="dep_country" name="dep_country" placeholder="Departure Country"/>
    </form>
</div>