.form-structor {
    margin: auto;
    text-align : center;
    padding: 60px;
    height: 420px;
    width: 450px;
    position: relative;
    //overflow: auto;
    border: 2px dashed;
    border-color: #3495be;
    border-radius: 10px;
}


.Login-text {
    text-align : center;
    padding: 10px;
    border-radius: 10px;
    background: #F3F3F3;
    border: 2px groove;
    border-color: #3495be;
    margin: 10px;
}

#test {
    text-align: center;
    padding : 10px;
}

#Login-submit {
    padding: 10px;
    border-radius: 10px;
    border: 2px groove;
    cursor: pointer;
    width: 80px;
    margin : auto;
}


