

.searchInput {
    padding: 30px;
    border-radius: 10px;
    background: #F3F3F3;
    border: 2px dashed;
    border-color: #3495be;
    margin: 10px;
}
.searchInput > input {
    padding: 10px;
    border-radius: 10px;
    border: 2px groove;
    border-color: #3495be;
    margin: 10px;
}

#searchBtn {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: #bed5f5;
}

#searchPage {
    text-align: center;
}

