

.searchInput {
    padding: 30px;
    border-radius: 10px;
    background: #F3F3F3;
    border: 2px dashed;
    border-color: #3495be;
    margin: 10px;
}
.searchInput > input {
    padding: 10px;
    border-radius: 10px;
    border: 2px groove;
    border-color: #3495be;
    margin: 10px;
}

#searchBtn {
    cursor: pointer;
    border: transparent;
    background: transparent;
    
    
}
    #searchBtn > img {
        width: 60px;
        height: 60px;
        transition-duration: 0.7s;
    }

        #searchBtn > img:hover {
            transform: rotate(90deg);
        }


    #searchPage {
        text-align: center;
    }

.returnInput {
    display: none;
}

#flightSearchResults {
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #ddd;
    height: 100px;
}

#tableHeaders > th {
    text-align: center;
    border-bottom: 1px solid #3495be;
    font-size:170%;
}

#oneWaytableResults > td {
    font-size: 120%;
}
#twoWaytableResults > td {
    font-size: 120%;
}

td > input {
    text-align: center;
    background: transparent;
    border: transparent;
    font-size: 110%;
    
}

    td > input:focus {
        outline: none;
    }

#selectFlight {
    color: #3495be
}

    #selectFlight:hover {
        border-bottom: 1px solid #3495be;
    }