body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.navbar-nav > li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    font-size: 20px;
    border-radius: 10px;
    border-bottom: 2px solid #3495be;
}

    .navbar-nav > li:hover {
        margin-top: -3px;
        transition: margin 0.2s ease-in-out;
    }

.site-name {
    margin-right: 50px;
}
