@{
    ViewBag.Title = "About";
}

<div style="font-size:20px;">
    <h1>About Natusa</h1>
    <br />
    <p>
        Natusa is an online travel agency that specializes in providing affordable flights to destinations around the world.<br />
        Our goal is to make travel accessible to everyone by offering a wide range of options at unbeatable prices.
    </p>
    <p>
        We have a user-friendly website that makes it easy to find and book the perfect flight for your next adventure.<br />
        Whether you're planning a family vacation, a business trip, or a romantic getaway, Natusa has something for everyone.
    </p>
    <p>
        With our constantly updating specials and deals, you can save even more on your next trip.<br />
        We pride ourselves on our excellent customer service,so if you have any questions or concerns, <br />
        please don't hesitate to <a href="contact">reach out to us</a>.
    </p>

</div>