@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br /><br />
      <div style="font-size: 18px">
          <address>
              123 Imaginary Street<br />
              Anytown USA 00000<br />
              <abbr title="Phone">P:</abbr>
              555.555.5555
          </address>
          <br />

          <p>Customer Support Hours:</p>
          <ul>
              <li>Monday-Friday: 8:00am-8:00pm EST</li>
              <li>Saturday-Sunday: 9:00am-5:00pm EST</li>
          </ul>
          <br />
          <address>
              <strong>Support:</strong>   <a href="mailto:support@natusa.com">suppurt@natusa.com</a><br />
              <strong>Marketing:</strong> <a href="mailto:marketing@natusa.com">marketing@natusa.com</a>
          </address>
      </div>