@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="logo" src="~/Content/home_logo.png" width="300" height="250" alt="Natusa">
    <br /><br />
    <p class="lead">We're committed to making your travel experience as smooth and stress-free as possible.<br /> We offer a wide selection of flights to destinations around the world,<br /> and our easy-to-use website makes it simple to find and book the perfect trip for you.</p>
    <br />
    <p><a href="@Url.Action("Login", "Home")" class="btn btn-primary btn-lg elements">So Natusa?  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" style="width:fit-content; align-self:center;">
            <img class="card-img-top" src="~/Content/thiland_card.png" width="500" height="400" alt="Card image cap">
            <div class="panel-footer">Thailand</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" style="width:fit-content;">
            <img class="card-img-top" src="~/Content/France_card.jpg" width="500" height="400" alt="Card image cap">
            <div class="panel-footer">France</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" style="width:fit-content;">
            <img class="card-img-top" src="~/Content/GB_card.jpg" width="500" height="400" alt="Card image cap">
            <div class="panel-footer">Great Britain</div>
        </div>
    </div>
    <br /><br />
</div>
