@model Natusa.Models.UsersDet

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/LoginStyle.css" rel="stylesheet" />

<h2>registration</h2>

<div>
    <form action="add" method="post" class="form-structor">
        <div class="text-structor">
            <input name="fname" type="text" placeholder="First Name" value="@Model.fname"  class="Login-text" />
            <br />
            <input name="lname" type="text" placeholder="Last Name" value="@Model.lname" class="Login-text" />
            <br />
            <input name="mail" type="email" placeholder="Mail" value="@Model.mail" class="Login-text" />
            <br />
            <input name="password" type="text" placeholder="Password" value="" class="Login-text" />
            <br />
        </div>
        <div id="test">
            <input type="submit" value="register" id="Login-submit" />
        </div>
    </form>
</div>

